#METHODS
public net.minecraft.world.biome.Biome func_201866_a(Lnet/minecraft/entity/EntityClassification;Lnet/minecraft/world/biome/Biome$SpawnListEntry;)V # addSpawn
public net.minecraft.block.FireBlock func_180686_a(Lnet/minecraft/block/Block;II)V # setFireInfo
public net.minecraft.entity.Entity func_226268_ag_()Lnet/minecraft/util/math/BlockPos; # getOnPosition
public net.minecraft.block.material.Material$Builder func_200511_g()Lnet/minecraft/block/material/Material$Builder; # pushDestroys
public net.minecraft.world.gen.SimplexNoiseGenerator func_215467_a([IDDD)D # processGrad

#VARIABLES
public-f net.minecraft.item.AxeItem field_203176_a # BLOCK_STRIPPING_MAP
public net.minecraft.world.gen.SimplexNoiseGenerator field_215468_a # GRADS
public net.minecraft.world.gen.feature.structure.Structure field_236385_u_ # STRUCTURE_DECORATION_STAGE_MAP
public-f net.minecraft.world.gen.feature.structure.Structure field_236384_t_ # field_236384_t_
public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236191_b_ # field_236191_b_
public net.minecraft.world.gen.feature.WorldDecoratingHelper field_242889_a # field_242889_a