#METHODS
public net.minecraft.block.FireBlock func_180686_a(Lnet/minecraft/block/Block;II)V # setFireInfo
public net.minecraft.entity.Entity func_226268_ag_()Lnet/minecraft/util/math/BlockPos; # getOnPosition
public net.minecraft.block.material.Material$Builder func_200511_g()Lnet/minecraft/block/material/Material$Builder; # pushDestroys
public net.minecraft.world.gen.SimplexNoiseGenerator func_215467_a([IDDD)D # processGrad

#VARIABLES
public-f net.minecraft.item.AxeItem field_203176_a # BLOCK_STRIPPING_MAP
public net.minecraft.world.gen.SimplexNoiseGenerator field_215468_a # GRADS